---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
---

<BaseLayout title="404: Not Found" includeSidebar={false}>
  <Image
    class="flex flex-col self-center justify-center"
    format="webp"
    width={200}
    height={200}
    src="/sticker.webp"
    alt="Sticker laptop girl"
  />
  <div class="text-center">
    <h1 class="text-9xl font-bold mb-2">404</h1>
    <h3 class="text-2xl">The page you're looking for couldn't be found.</h3>
    <a class="btn btn-accent mt-9" href="/">Home</a>
  </div>
</BaseLayout>
